<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тест крови</title>
    <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "/css/base.css"%}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/analys-styles.css"%} ">
</head>
<style>
    #hello_msg{
        font-size: 18px;
        color: #8A2BE2;
        margin-right: 20px;
    }
</style>
<body>
<div class="default">
    <div class="page_header">
        <h2 class="logo">MEDHOUSE</h2>
        <div class="h_nav_container">
              <span id="hello_msg">Привет, {{ request.user }}  </span>
              <span ><a id="hello_msg" href="{% url 'logout' %}">Выход</a> </span>
        </div>
    </div>

    <div class="page_navigator">
        <div class="nav-items">
            <div class="nav-item">
                <a href="{% url 'home' %}" class="link">
                    главная
                </a>
                <span class="nav-active d-none"></span>
            </div>
            <div class="nav-item">
                <a href="{% url 'personalcab' %}" class="link">
                    профиль
                </a>
                <span class="nav-active d-none"></span>
            </div>
            <div class="nav-item">
                <a href="{% url 'analyse' %}" class="link">
                    анализ
                </a>
                <span class="nav-active d-none"></span>
            </div>
            <div class="nav-item">
                <a href="{% url 'anemiaanalyse' %}" class="link">
                    анализ крови
                </a>
                <span class="nav-active d-none"></span>
            </div>
            <div class="nav-item">
                <a href="{% url 'anemiatest' %}" class="link active">
                    тест крови
                </a>
                <span class="nav-active"></span>
            </div>
        </div>
    </div>

    <div class="container">
        <!--        ATTENTION onsubmit="return false;"  !!!-->
        <form method="POST" action="anemia-test-result">
            {% csrf_token %}
            <div class="mt-5 m-auto w-50">
                <div>
                    <h3 class="text-center font-weight-bold" style="padding-bottom: 20px">{{user.username}}, ответьте на следующие вопросы:</h3>
                </div>

                <div class="analyze_item_container" style="margin-top: 20px">
                    <span class="item-title">Чувствуете ли вы слабость, головную боль, головокружение, мелькание «мушек» перед глазами?</span>
                    <input type="checkbox"
                           class="form-control form-input item-control radio-inline"
                           id="weakness" name="weakness">
                </div>

                <div class="analyze_item_container" style="margin-top: 20px">
                    <span class="item-title">Есть ли у вас бледность кожи и видимых слизистых оболочек?</span>
                    <input type="checkbox"
                           class="form-control form-input item-control radio-inline"
                           id="pallor" name="pallor">
                </div>

                <div class="analyze_item_container" style="margin-top: 20px">
                    <span class="item-title">Чувствуете ли вы учащенное сердцебиение?</span>
                    <input type="checkbox"
                           class="form-control form-input item-control radio-inline"
                           id="heartbeat" name="heartbeat">
                </div>

                <div class="analyze_item_container" style="margin-top: 20px">
                    <span class="item-title">Ощущаете ли вы шум в ушах?</span>
                    <input type="checkbox"
                           class="form-control form-input item-control radio-inline"
                           id="noise" name="noise">
                </div>

                <div class="analyze_item_container" style="margin-top: 20px">
                    <span class="item-title">Чувствуете ли вы снижение аппетита?</span>
                    <input type="checkbox"
                           class="form-control form-input item-control radio-inline"
                           id="appetite" name="appetite">
                </div>

                <div class="analyze_item_container" style="margin-top: 20px">
                    <span class="item-title">Чувствуете ли вы снижение работоспособности, концентрации внимания, ухудшение памяти?</span>
                    <input type="checkbox"
                           class="form-control form-input item-control radio-inline"
                           id="efficiency" name="efficiency">
                </div>

                <div class="analyze_item_container" style="margin-top: 20px">
                    <span class="item-title">Присутствует ли у вас плохая переносимость физических нагрузок?</span>
                    <input type="checkbox"
                           class="form-control form-input item-control radio-inline"
                           id="activity" name="activity">
                </div>

                <div class="analyze_item_container" style="margin-top: 20px">
                    <span class="item-title">Есть ли у вас сухость кожных покровов и их пигментация («кофе с молоком»)?</span>
                    <input type="checkbox"
                           class="form-control form-input item-control radio-inline"
                           id="dryness" name="dryness">
                </div>

                <div class="analyze_item_container" style="margin-top: 20px">
                    <span class="item-title">Есть ли у вас деформация и изменение структуры ногтей (поперечная исчерченность, вогнутость, истончение, ломкость)?</span>
                    <input type="checkbox"
                           class="form-control form-input item-control radio-inline"
                           id="nails" name="nails">
                </div>

                <div class="analyze_item_container" style="margin-top: 20px">
                    <span class="item-title">Ощущаете ли вы ухудшение состояния волос (ломкость, тусклость, раздваивание кончиков, выпадение)?</span>
                    <input type="checkbox"
                           class="form-control form-input item-control radio-inline"
                           id="hair" name="hair">
                </div>

                <div class="analyze_item_container" style="margin-top: 20px">
                    <span class="item-title">Присутствует ли у вас ангулярный стоматит (заеды в уголках рта)?</span>
                    <input type="checkbox"
                           class="form-control form-input item-control radio-inline"
                           id="stomatitis" name="stomatitis">
                </div>

                <div class="analyze_item_container" style="margin-top: 20px">
                    <span class="item-title">Ощущаете ли вы жжения на языке?</span>
                    <input type="checkbox"
                           class="form-control form-input item-control radio-inline"
                           id="burning" name="burning">
                </div>

                <!--result-->
                <button class="btn btn-main btn-border-violet mt-4 w-100" id="result-btn">
                    Показать результаты
                </button>
            </div>
        </form>
    </div>


    <div class="page_footer pd-section" style="margin-top: 150px">
        <div class="desc_container align-items-start">
            <div>
                <h5 class="text-white font-weight-bold">Информация</h5>
                <div class="flex-column">
                    <a href="#" class="d-block">Пользовательское соглашение</a>
                    <a href="#" class="d-block">Политика конфиденциальности</a>
                    <a href="#" class="d-block">Оферта</a>
                </div>
            </div>
            <div>

            </div>
            <div>
                <h5 class="text-white font-weight-bold">Адрес</h5>
                <div class="flex-column">
                    <p class="d-block address">ул. Кремлевская 35, г. Казань. РТ, РФ</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sign In Modal -->
<div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Войти</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0 pb-0">
                <div class="form-group">
                    <label class="lbl">Логин</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Пароль</label>
                    <input type="password" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-main" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-main btn-border-violet">Войти</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0 pb-0">
                <div class="form-group">
                    <label class="lbl">Имя</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Фамилия</label>
                    <input type="text" class="form-control form-input username">
                    <span class="msg-err d-none">Поле не может быть пустым</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Email</label>
                    <input type="email" class="form-control form-input" id="email">
                    <span class="msg-err d-none">Неверный формат email</span>
                </div>
                <div class="form-group">
                    <label class="lbl">Пароль</label>
                    <input type="password" class="form-control form-input" id="password1">
                </div>
                <div class="form-group">
                    <label class="lbl">Повторите пароль</label>
                    <input type="password" class="form-control form-input" id="password2">
                    <span class="msg-err d-none">Пароли не совпадают</span>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-main" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-main btn-border-violet">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
{#<script src="{% static "js/analys.js" %}"></script>#}

</body>
</html>